# Object files
*.o

# Libraries
*.a
*.dylib
mlx
mlx/*

# Executables
cub3D
a.out
*exe

# Object / binary directories
obj/
bin/
build/

# Debug / system files
*.log
*.gch
*.dSYM/
vgcore.*
.mlx_build.log

# macOS / system junk
.DS_Store
*.swp
*.tmp

# Editor settings
.vscode/

# Valgrind
*.supp

# Test artifacts
*.txt

# Cache
.cache
